@page "/"
@inject IJSRuntime Js
@using Pages
@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages

<main class="h-screen w-screen flex flex-col">
    <div class="bg-gray-800">
        <span class="text-white">File: example.txt</span>
    </div>
    <div class="flex-grow">
        <StandaloneCodeEditor 
            @ref="_editor"
            ConstructionOptions="StandaloneEditorConstructionOptions"
            OnDidChangeCursorPosition="HandleCursorChange"
            OnDidChangeModelContent="HandleContentChange"
            OnDidInit="EditorInitialized"
            CssClass="h-full w-full" />
    </div>
    <div class="bg-gray-800 p-2 flex justify-between">
        <span class="text-white">@($"Line: {_currentLine}, Column: {_currentColumn}")</span>
        <span class="text-white">UTF-8</span>
        <span class="text-white">Plain Text</span>
    </div>
</main>
    
@code
{
    private string _text = "";
    private int _currentLine = 1;
    private int _currentColumn = 1;
    private StandaloneCodeEditor? _editor;
    private StandaloneEditorConstructionOptions StandaloneEditorConstructionOptions(StandaloneCodeEditor editor) 
    {
        return new StandaloneEditorConstructionOptions 
        {
            AutomaticLayout = true,
            Language = "markdown",
            Theme = "vs-dark",
            ScrollBeyondLastLine = false,
            LineNumbers = "on",
            RenderWhitespace = "all",
            Value = _text,
        };
    }

    private async Task HandleCursorChange(CursorPositionChangedEvent e)
    {
        _currentLine = e.Position.LineNumber;
        _currentColumn = e.Position.Column;
        StateHasChanged();
    }

    private async Task HandleContentChange(ModelContentChangedEvent e)
    {
        if (_editor != null)
        {
            try
            {
                foreach(var change in e.Changes)
                {
                    await Js.InvokeAsync<string>(
                        "window.__TAURI__.core.invoke", 
                        "update_content", 
                        change
                    );
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error updating piece table: {ex.Message}");
            }
        }
    }

    private async Task EditorInitialized()
    {
        if (_editor != null)
        {
            await _editor.Layout();    
        }
    }
}

