@page "/"
@inject IJSRuntime JS
@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages

<main class="h-screen w-screen">
        <StandaloneCodeEditor 
            @ref="_editor"
            ConstructionOptions="StandaloneEditorConstructionOptions"
            CssClass="h-full w-full" />
</main>
    
@code
{
    private string _text = "";
    private StandaloneCodeEditor? _editor;
    private StandaloneEditorConstructionOptions StandaloneEditorConstructionOptions(StandaloneCodeEditor editor) 
    {
        return new StandaloneEditorConstructionOptions 
        {
            AutomaticLayout = true,
            Language = "plaintext",
            Theme = "vs-dark",
            ScrollBeyondLastLine = false,
            LineNumbers = "on",
            RenderWhitespace = "all",
            Value = _text,
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _editor != null)
        {
            await _editor.Layout();
        }
    }
}
